.panelImg {
  max-width: 80%;
  display: block;
  margin: auto;
  transition: all 0.4s;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  background-color: #555;
  padding: 3px;
}

.panelImg:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
