.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5% 0;
  background-color: #efefef94;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__img {
  width: 100%;
  margin-bottom: 12rem;
}
